<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
	<body> 
	<header th:replace="layout/layout :: header"></header>
	<br>
		<div class="container">
		<h1 style="text-align:center;">AVERIAS DEL TECNICO</h1>
					
			
			<br><br>
			<div class="table-responsive">
			<table id="userList1" class="table table-light table-bordered table-hover table-striped">
				<thead class="thead-dark">
					<tr>
						<th>INC</th>
						<th>SISEGO</th>
						<th>ZONAL</th>
						<th>ZONIFICACION</th>
						<th>CONTRATA</th>
						<th>TECNICO ASIGNADO</th>
						<th>FECHA ATENCION</th>
						<th>TIPO AVERIA</th>
						<th>DIAGNOSTICO</th>
						<th>PARADA DE RELOJ</th>
						<th>ACCIONES CORRECTIVAS</th>
						<th>ESTADO</th>
						<th>OBSERVACIONES</th>
						<th>CLIENTE</th>		
						<th>MATERIALES</th>				
						<th></th>
						<th></th>
					</tr>
				</thead> 
				<tbody>
					<tr th:each="averias:${averias}">
						<td th:text="${averias.inc}"></td>
						<td th:text="${averias.sisego}"></td>
						<td th:text="${averias.zonal}"></td>
						<td th:text="${averias.zonificacion}"></td>
						<td th:text="${averias.contrata}"></td>
						<td th:text="${averias.tecnicoAsignado}"></td>
						<td th:text="${averias.fechaAtencion}"></td>
						<td th:text="${averias.tipoAveria}"></td>
						<td th:text="${averias.diagnostico}"></td>
						<td th:text="${averias.paradaReloj}"></td>
						<td th:text="${averias.accionesCorrectivas}"></td>
						<td th:text="${averias.estado}"></td>
						<td th:text="${averias.cliente}"></td>
						<td th:text="${averias.observaciones}"></td>
						<td th:text="${averias.materiales}"></td>
						<td>
						<a th:href="@{/averias/editaraveriaportecnico/}+${averias.averiaid}" class="btn btn-link"><i class="fas fa-edit fa-2x" aria-hidden="true"></i></a>
						</td>
					 <!--  	<td>
							<a href="#" th:onclick="eliminaAver([[${averias.averiaid}]])" class="btn btn-link"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>												
						</td>
							-->				
					</tr>
				</tbody>
			</table>
			</div>
			</div>
			
			<br><br><br>
		
		<footer th:replace="layout/layout :: footer">
		</footer>
	</body>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>