<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

<body>
<header th:replace="layout/layout :: header"></header><br><br><br>

<!--/* CHAT FLOTANTE */-->
<button class="floating-button" onclick="toggleIframe()" style="position: fixed !important; bottom: 20px !important; right: 20px !important; background-color: #fff !important; color: #007bff !important; border: none !important; border-radius: 50% !important; width: 50px !important; height: 50px !important; font-size: 24px !important; text-align: center !important; line-height: 50px !important; cursor: pointer !important; z-index: 9999 !important;">
	<img src="/img/iconchatgpt.png" alt="Icono" style="width: 100%;">
</button>

<div id="iframeContainer" class="card shadow-lg rounded" style="display: none; position: fixed; bottom: 100px; right: 20px; z-index: 9999; width: 350px; height: 500px;">
	<div class="card-header bg-primary text-white">
		ASISTENTE
		<button type="button" class="close text-white" aria-label="Close" onclick="toggleIframe()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<!-- iframe flotante -->
	<div class="card-body p-0 border-0 rounded" style="width: 350px; height: 450px;">
		<iframe src="/chatbot" class="w-100 h-100 border-0 rounded" style="background-color: #fff;"></iframe>
	</div>
</div>
<!--/* CHAT FLOTANTE */-->

<form th:action="@{/solicitud/export/all}" th:object=${solicitud} method="get" id="formVenta">

	<div class="container">
	
		<section class="card">
			<div class="card-header">
				<h3>REPORTE GENERAL DE AVERIAS</h3>
			</div>	
			<br>
			<div class="card-header">
				<label>Descargar Reporte General de averias Registradas</label>
			</div>		
			<br>
		<!--<input type="text" class="form-control" th:name="estadoventa" th:value="estadoventa"/> -->
			<div class="form-group">	
				&nbsp&nbsp<a href="/averias/export/all" type="button"  class="btn btn-primary">IMPRIMIR REPORTE</a>
			</div>
			<br>
		</section>
	</div>
	<br><br><br>
</form>

<!--/* CHAT FLOTANTE */-->
<script>
	function toggleIframe() {
        var iframeContainer = document.getElementById('iframeContainer');
        if (iframeContainer.style.display === 'none' || iframeContainer.style.display === '') {
            iframeContainer.style.display = 'block';
        } else {
            iframeContainer.style.display = 'none';
        }
    }
</script>
<!--/* CHAT FLOTANTE */-->
</body>
</html>