<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
	<body> 
	<header th:replace="layout/layout :: header"></header>
	<br>

	<!--/* CHAT FLOTANTE */-->
	<button class="floating-button" onclick="toggleIframe()" style="position: fixed !important; bottom: 20px !important; right: 20px !important; background-color: #fff !important; color: #007bff !important; border: none !important; border-radius: 50% !important; width: 50px !important; height: 50px !important; font-size: 24px !important; text-align: center !important; line-height: 50px !important; cursor: pointer !important; z-index: 9999 !important;">
		<img src="/img/iconchatgpt.png" alt="Icono" style="width: 100%;">
	</button>

	<div id="iframeContainer" class="card shadow-lg rounded" style="display: none; position: fixed; bottom: 100px; right: 20px; z-index: 9999; width: 350px; height: 500px;">
		<div class="card-header text-white" style="#17A2B8;">
			ASISTENTE
			<button type="button" class="close text-white" aria-label="Close" onclick="toggleIframe()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- iframe flotante -->
		<div class="card-body p-0 border-0 rounded" style="width: 350px; height: 450px;">
			<iframe src="/chatbot" class="w-100 h-100 border-0 rounded" style="background-color: #fff;"></iframe>
		</div>
	</div>
	<!--/* CHAT FLOTANTE */-->
		<div class="container">
		<h1>TRABAJO :</h1>
			<main class="container">
			
			
			<form  th:object=${trabajo} id="formCategoria">
			<section >
			<div  class="input-group-append">
									
						<label style="margin-top: 5px">GRAFO:</label>&nbsp;
						<input th:field="*{grafo}"  type="text" class="form-control text-center" readonly="readonly" >
	
						
						<label style="margin-left: 20px; margin-top: 5px">SISEGO :</label>&nbsp;
						<input th:field="*{sisego}"  type="text" class="form-control text-center" readonly="readonly"  >
						
						<label  style="margin-left: 20px; margin-top: 5px">CLIENTE :</label>&nbsp;
						<input th:field="*{cliente}"  type="text" class="form-control text-center" readonly="readonly"  >
						
						<label  style="margin-left: 20px; margin-top: 5px">DEPARTAMENTO :</label>&nbsp;
						<input th:field="*{departamento}"  type="text" class="form-control text-center" readonly="readonly"  >
			</div>		
					</section>
			</form><br>
			<form th:action="@{/certificacion/trabajo/grabar}"  th:object=${visiteca}  method="post" id="formCategoria">
				<section class="card">
						
						<div class="card-body">
						
						<h2>EDITAR VISITA</h2>
						
					<div class="form-group">
						
						<input th:field="*{visitaid}"  id="vendedor11" type="hidden" class="form-control">
					</div>	
						
					<div class="form-group" >																						
					<select th:field="*{certificacion}" id="cboCategoria" class="form-control" required="required" hidden="hidden">
					<option th:each="certificacion:${certificaciones}"
					th:value="${certificacion.certificacionid}"
					th:text="${certificacion.certificacionfecha}"/>
					</select>
					</div>
					
					<div class="form-group">
						<label>CONTRATA</label>
						<select th:field="*{contratista}" id="cboCategoria" class="form-control">
						<option value="">SELECCIONE...</option>
						<option th:each="users:${users}"
						th:value="${users.username}"
						th:text="${users.username}"
						/>
					</select>
					</div>	
					
					<div class="form-group">
						<label>ESTADO</label>
						<input th:field=*{visitaestado} id="fechaActual" type="text" class="form-control" required="required">
					</div>
								
					<div class="form-group">
						<label>ACCION</label>
						<input  th:field=*{visitaaccion}  id="fechaActual"  type="text" class="form-control">
					</div>	
					
					<div class="form-group">
						<label>FECHA VISITA</label>
						<input th:field="*{fechavisita}" id="fechaActual" type="date" class="form-control" required="required">
					</div>
								
					<div class="form-group">
						<label>OBSERVACION</label>
						<input  th:field="*{descripcion}"  id="vendedor11" type="text" class="form-control">
					</div>		
					</div>
					<div class="card-footer">
						<input type="submit" value="REGISTRAR" class="btn btn-primary">
						
						<input type="button" value="CANCELAR" onclick="cancelar()" class="btn btn-danger">
					</div>
				</section>
			   </form><br>
		</main>

			<br><br><br>
		</div>

	<!--/* CHAT FLOTANTE */-->
	<script>
		function toggleIframe() {
            var iframeContainer = document.getElementById('iframeContainer');
            if (iframeContainer.style.display === 'none' || iframeContainer.style.display === '') {
                iframeContainer.style.display = 'block';
            } else {
                iframeContainer.style.display = 'none';
            }
        }
	</script>
	<!--/* CHAT FLOTANTE */-->
	</body>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>