<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
	<body>
	<header th:replace="layout/layout :: header"></header>
	<br>
		<main class="container">
			<form th:action="@{/partida/grabar}" th:object=${partida} method="post" id="formCategoria">
				<section class="card">
				<div class="card-header">
				<h3>REGISTRO DE PARTIDA</h3>
					</div>
					<div class="card-body">
					
					<div class="form-group">
						<label>CATEGORIA</label>
							<select th:field="*{partidacategoria}" id="cboCategoria" class="form-control" required="required">
								<option value="">SELECCIONE...</option>
								<option th:each="partidacategoria:${partidacategorias}"
								th:value="${partidacategoria.partidacategoriaid}"
								th:text="${partidacategoria.partidacategorianombre}"
								/>
							</select>
					</div>
					
					<div class="form-group">
						<label>NOMBRE</label>
						<input th:field="*{partidatipo}" id="txtnombre" type="text" class="form-control" required="required">
					</div>
					
					<div class="form-group">
						<label>TIPO BAREMO</label>
							<select th:field="*{tipobaremo}" id="cboCategoria" class="form-control" required="required">
								<option value="">SELECCIONE...</option>
								<option th:each="tipobaremo:${tipobaremos}"
								th:value="${tipobaremo.tipobaremoid}"
								th:text="${tipobaremo.tipobaremonombre}"
								/>
							</select>
					</div>

					<div class="form-group">
						<label>ITEM</label>
						<input th:field="*{partidaitem}" id="txtnombre" type="text" class="form-control" required="required">
					</div>
					
					<div class="form-group">
						<label>DESCRIPCION</label>
						<input th:field="*{partidadescripcion}" id="txtnombre" type="text" class="form-control" required="required">
					</div>
					
					<div class="form-group">
						<label>UM</label>												
						<select th:field="*{partidaum}" class="form-control" required="required">
						<option value="">--SELECCIONE--</option>
						<option value="UN">UN</option>
						<option value="KG">KG</option>				
						</select>
					</div>
					
					<div class="form-group">
						<label>BAREMO</label>
						<input th:field="*{partidabaremo}" id="txtnombre" type="text" class="form-control" required="required">
					</div>
					
					</div>
					<div class="card-footer">
						<input type="submit" value="REGISTRAR" class="btn btn-primary">
						
						<input type="button" value="CANCELAR" onclick="cancelar()" class="btn btn-danger">
					</div>
					
					
				</section>
			</form><br><br><br>
		</main>
		<footer th:replace="layout/layout :: footer">
		</footer>
	</body>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>