<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
	<body>
	<header th:replace="layout/layout :: header"></header>
	<br>

	<!--/* CHAT FLOTANTE */-->
	<button class="floating-button" onclick="toggleIframe()" style="position: fixed !important; bottom: 20px !important; right: 20px !important; background-color: #fff !important; color: #007bff !important; border: none !important; border-radius: 50% !important; width: 50px !important; height: 50px !important; font-size: 24px !important; text-align: center !important; line-height: 50px !important; cursor: pointer !important; z-index: 9999 !important;">
		<img src="/img/iconchatgpt.png" alt="Icono" style="width: 100%;">
	</button>

	<div id="iframeContainer" class="card shadow-lg rounded" style="display: none; position: fixed; bottom: 100px; right: 20px; z-index: 9999; width: 350px; height: 500px;">
		<div class="card-header bg-primary text-white">
			ASISTENTE
			<button type="button" class="close text-white" aria-label="Close" onclick="toggleIframe()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- iframe flotante -->
		<div class="card-body p-0 border-0 rounded" style="width: 350px; height: 450px;">
			<iframe src="/chatbot" class="w-100 h-100 border-0 rounded" style="background-color: #fff;"></iframe>
		</div>
	</div>
	<!--/* CHAT FLOTANTE */-->
		<main class="container">
			<form th:action="@{/partidacertificacion/equipo/grabar}" th:object=${partidacertificacion} method="post" id="formCategoria">
				<section class="card">
				<div class="card-header">
				<h3>AGREGAR PARTIDA</h3>
						
				<br>
	<button type="button" class="btn btn-info btn-sm" style="float: right;margin-right: 20px;margin-bottom: 5px" data-toggle="modal" data-target="#myModal"> Agregar Equipo</button>	
							
				</div>		
						<div class="card-body">
					<div class="form-group">
						<label>PARTIDA</label>						
						<select th:field="*{partida}" id="cboCategoria" class="form-control" required="required">
						<option value="">SELECCIONE...</option>
						<option th:each="partida:${partidas}"
						th:value="${partida.partidaid}"
						th:text="${partida.partidadescripcion}"
						/>
					</select>
					</div>
					<div class="form-group" hidden="hidden">
						<label>CERTIFICACION</label>						
						<select th:field="*{visita}" id="cboCategoria" class="form-control" required="required">
					<option th:each="visita:${visitas}"
					th:value="${visita.visitaequipoid}"
					th:text="${visita.visitaequipoid}"
					/>
				</select>
				</div>
					<div class="form-group">
						<label>CANTIDAD</label>
						<input th:field="*{cantidad}" id="txtnombre" type="number"  step="0.001" class="form-control" required="required">
					</div>
				
					<div class="form-group">
						<label>COMENTARIOS</label>
						<input th:field="*{Observacion}" id="txtnombre" type="text" class="form-control" required="required">
					</div>

				</div>	
					<div class="card-footer">
						<input type="submit" value="AGREGAR PARTIDA" class="btn btn-primary">
						
						<input type="button" value="CANCELAR" onclick="cancelarEspecial()" class="btn btn-danger">
					</div>
					

					
					
					
				</section>
				
								 <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
          <h4  style="color: black;" >Agregar Equipo</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            
          </div>
          <div class="modal-body">
          
        		    <div class="form-group">
						<label style="color: black;">Equipo</label>
						<input th:field="*{equipo}" id="txtnombre" type="text" class="form-control">
					</div>
				
					<div >
						<label style="color: black;">Marca</label>
						<input th:field="*{marca}" id="txtnombre" type="text" class="form-control" >
					</div>
					
					<div >
						<label style="color: black;">Modelo</label>
						<input th:field="*{modelo}" id="txtnombre" type="text" class="form-control" >
					</div>
					
					<div >
						<label style="color: black;">Serie Equipo</label>
						<input th:field="*{nseriequipo}" id="txtnombre" type="text" class="form-control" >
					</div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Agregar</button>
          </div>
        </div>
    
      </div>
    </div>		
				
			</form><br><br><br>
			
			<section>
			
			<table id="userList" class="table table-light table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>PARTIDA</th>
						<th>COMENTARIO</th>						
						<th>CANTIDAD</th>
						<th>TOTAL</th>
						<th>ELIMINAR</th>
					</tr>
				</thead> 
				<tbody>
					<tr th:each="partidacertificacion:${partidacertificacionesequipo}">
						<td th:text="${partidacertificacion.partida.partidadescripcion}"></td>
						<td th:text="${partidacertificacion.Observacion}"></td>													
						<td th:text="${partidacertificacion.cantidad}"></td>
						<td th:text="${partidacertificacion.totalv}"></td>
						<td><a href="#" th:onclick="eliminarPartEquipoCert([[${partidacertificacion.partidaequipoid}]])" class="btn btn-link"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a></td>					
					</tr>
				</tbody>
			</table>
			
			</section>			
			<br>		
		 <div class="card" style="width: 18rem; height:3rem; float: right ">
			
		 <h3 class="text-dark text-center"  th:text ="${'Costo Total: '} + ${sumatoria.descripcion}"></h3> 
			<br><br><br>
			
			</div>			
		</main>

	<!--/* CHAT FLOTANTE */-->
	<script>
		function toggleIframe() {
            var iframeContainer = document.getElementById('iframeContainer');
            if (iframeContainer.style.display === 'none' || iframeContainer.style.display === '') {
                iframeContainer.style.display = 'block';
            } else {
                iframeContainer.style.display = 'none';
            }
        }
	</script>
	<!--/* CHAT FLOTANTE */-->
	</body>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script>
	</script>
</html>