<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
<body>
<header th:replace="layout/layout :: header"></header>
<br>
<div class="container"style="max-width: 80%; padding: 0;">
    <h1 style="text-align:center;">LISTA DE PROVINCIAS</h1>
    <!--<a th:href="@{/provincia}" class="btn btn-dark"><i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i>&nbsp RETROCEDER</a>-->
    <a th:href="@{/departamento}" class="btn btn-dark"><i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i>&nbsp RETROCEDER</a>


    <br><br>
    <div class="table-responsive" style="margin: 0;">
        <table id="userList1" class="table table-light table-bordered table-hover table-striped" style="width: 100%; margin: 0;">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ESTADO</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="provincia:${provincia}">
                <td th:text="${provincia.codProvincia}"></td>
                <td th:text="${provincia.nombreProvincia}"></td>
                <td>
                    <button class="btn btn-success" onclick="toggleEstado(this)" th:text="${provincia.estadoProvincia}"></button>
                </td>
                <td>
                    <!--  <button class="btn btn-primary" onclick="toggleEstado(this)">Ver Distritos</button>-->
                    <a th:href="@{/distrito}" class="btn btn-primary">Ver Distritos</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br><br><br>
<footer th:replace="layout/layout :: footer">
</footer>
</body>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>