<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
	<body>
	<header th:replace="layout/layout :: header"></header>
	<br>

	<!--/* CHAT FLOTANTE */-->
	<button class="floating-button" onclick="toggleIframe()" style="position: fixed !important; bottom: 20px !important; right: 20px !important; background-color: #fff !important; color: #007bff !important; border: none !important; border-radius: 50% !important; width: 50px !important; height: 50px !important; font-size: 24px !important; text-align: center !important; line-height: 50px !important; cursor: pointer !important; z-index: 9999 !important;">
		<img src="/img/iconchatgpt.png" alt="Icono" style="width: 100%;">
	</button>

	<div id="iframeContainer" class="card shadow-lg rounded" style="display: none; position: fixed; bottom: 100px; right: 20px; z-index: 9999; width: 350px; height: 500px;">
		<div class="card-header text-white" style="#17A2B8;">
			ASISTENTE
			<button type="button" class="close text-white" aria-label="Close" onclick="toggleIframe()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- iframe flotante -->
		<div class="card-body p-0 border-0 rounded" style="width: 350px; height: 450px;">
			<iframe src="/chatbot" class="w-100 h-100 border-0 rounded" style="background-color: #fff;"></iframe>
		</div>
	</div>
	<!--/* CHAT FLOTANTE */-->
		<main class="container">
			<form th:action="@{/subcategoria/grabar}" th:object=${subcategoria} method="post" id="formCategoria">
				<section class="card">
				<div class="card-header">
				<h3>REGISTRO DE CATEGORIA</h3>
				
				</div>
					<div class="card-body">
					<div class="form-group">
						<label>NOMBRE</label>
						<input th:field="*{subcategorianombre}" id="txtnombre" type="text" class="form-control" required="required">
					</div>
					
					<div class="form-group">
						<label>DESCRIPCION</label>
						<input th:field="*{subcategoriadescripcion}" id="txtdescripcion" type="text" class="form-control">
					</div>
					
					<div class="form-group">
						<label>CENTRO DE COSTO</label>
							<select th:field="*{categoria}" id="cboCategoria" class="form-control" required="required">
								<option value="">SELECCIONE...</option>
								<option th:each="categoria:${categorias}"
								th:value="${categoria.categoriaid}"
								th:text="${categoria.categorianombre}"
								/>
							</select>
					</div>
					
					</div>
					<div class="card-footer">
						<input type="submit" value="REGISTRAR" class="btn btn-primary">
						
						<input type="button" value="CANCELAR" onclick="cancelar()" class="btn btn-danger">
					</div>
				</section>
			</form><br><br><br>
		</main>
	<!--/* CHAT FLOTANTE */-->
	<script>
		function toggleIframe() {
            var iframeContainer = document.getElementById('iframeContainer');
            if (iframeContainer.style.display === 'none' || iframeContainer.style.display === '') {
                iframeContainer.style.display = 'block';
            } else {
                iframeContainer.style.display = 'none';
            }
        }
	</script>
	<!--/* CHAT FLOTANTE */-->
	</body>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>