<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
	<body> 
	<header th:replace="layout/layout :: header"></header>
	<br>

	<!--/* CHAT FLOTANTE */-->
	<button class="floating-button" onclick="toggleIframe()" style="position: fixed !important; bottom: 20px !important; right: 20px !important; background-color: #fff !important; color: #007bff !important; border: none !important; border-radius: 50% !important; width: 50px !important; height: 50px !important; font-size: 24px !important; text-align: center !important; line-height: 50px !important; cursor: pointer !important; z-index: 9999 !important;">
		<img src="/img/iconchatgpt.png" alt="Icono" style="width: 100%;">
	</button>

	<div id="iframeContainer" class="card shadow-lg rounded" style="display: none; position: fixed; bottom: 100px; right: 20px; z-index: 9999; width: 350px; height: 500px;">
		<div class="card-header bg-info text-white">
			ASISTENTE
			<button type="button" class="close text-white" aria-label="Close" onclick="toggleIframe()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- iframe flotante -->
		<div class="card-body p-0 border-0 rounded" style="width: 350px; height: 450px;">
			<iframe src="/chatbot" class="w-100 h-100 border-0 rounded" style="background-color: #fff;"></iframe>
		</div>
	</div>
	<!--/* CHAT FLOTANTE */-->
		<div class="container">
		<h1>LISTADO DE CATEGORIAS</h1>
			<a th:href="@{/subcategoria/nuevoSubcategoria}" class="btn btn-dark"><i class="fa fa-plus fa-1x" aria-hidden="true"></i>&nbsp NUEVO</a>
			<br><br>
			<div class="table-responsive">
			<table id="userList" class="table table-light table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>NOMBRE</th>
						<th>DESCRIPCION</th>
						<th>CENTRO DE COSTO</th>
						<th></th>
					</tr>
				</thead> 
				<tbody>
					<tr th:each="subcategoria:${subcategorias}">
						<td th:text="${subcategoria.subcategorianombre}"></td>
						<td th:text="${subcategoria.subcategoriadescripcion}"></td>
						<td th:text="${subcategoria.categoria.categorianombre}"></td>
						<td>
							<a th:href="@{/subcategoria/editar/}+${subcategoria.subcategoriaid}" class="btn btn-link"><i class="fas fa-edit fa-2x" aria-hidden="true"></i></a>
							<a href="#" th:onclick="eliminarSub([[${subcategoria.subcategoriaid}]])" class="btn btn-link"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<br><br><br>
		</div>
	<!--/* CHAT FLOTANTE */-->
	<script>
		function toggleIframe() {
            var iframeContainer = document.getElementById('iframeContainer');
            if (iframeContainer.style.display === 'none' || iframeContainer.style.display === '') {
                iframeContainer.style.display = 'block';
            } else {
                iframeContainer.style.display = 'none';
            }
        }
	</script>
	<!--/* CHAT FLOTANTE */-->
	</body>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>