<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
	<body>
	<header th:replace="layout/layout :: header"></header>
	<br>
		<main class="container">
			<form th:action="@{/tipobaremo/grabar}" th:object=${tipobaremo} method="post" id="formCategoria">
				<section class="card">
				<div class="card-header">
				<h3>EDITOR DE TIPOS DE BAREMOS</h3>
				
				</div>
					<div class="card-body">
					<input th:field="*{tipobaremoid}" id="txtcodigo" type="hidden" class="form-control">
					<div class="form-group">
						<label>NOMBRE</label>
						<input th:field="*{tipobaremonombre}" id="txtnombre" type="text" class="form-control" required="required">
					</div>
					
					<div class="form-group">
						<label>PRECIO LIMA</label>
						<input th:field="*{tipobaremopreciolima}"  type="number" step="0.0000000000000001" class="form-control" required="required">
					</div>
					
					<div class="form-group">
						<label>PRECIO PROVINCIA</label>
						<input th:field="*{tipobaremoprecioprovincia}" type="number" step="0.0000000000000001" class="form-control" required="required">
					</div>
					
					</div>
					<div class="card-footer">
						<input type="submit" value="GUARDAR" class="btn btn-primary">
						
						<input type="button" value="REGRESAR" onclick="cancelar()" class="btn btn-danger">
					</div>
				</section>
			</form><br><br><br>
		</main>
		<footer th:replace="layout/layout :: footer">
		</footer>
	</body>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>